<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% Post.globalize_attribute_names.each do |lang| %>
    <div class="field">
      <%= f.label lang %><br>
      <%= f.text_area lang %>
    </div>
  <% end %>


  <div class="actions">
    <%= f.submit t(:save) %>
  </div>
<% end %>
